<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>post1</key>
	<dict>
		<key>type</key>
		<string>Khóa học</string>
		<key>title</key>
		<string>TIẾNG ANH GIAO TIẾP NÂNG CAO</string>
		<key>brief</key>
		<string>Khóa học với 100% giáo viên bản ngữ sẽ giúp cho tiếng Anh giao tiếp của bạn nâng cao đáng kể...</string>
		<key>icon</key>
		<string>post1_icon.png</string>
		<key>image</key>
		<string>post1.png</string>
		<key>content</key>
		<string>Khoá học này được thiết kế dành cho các học viên đã có nền tảng tiếng Anh tương đối, giúp nâng cao khả năng ngôn ngữ của người học, hướng đến các mục tiêu ngôn ngữ đầu ra cao phục vụ cho việc du học, xin học bổng, hay sử dụng tiếng Anh trong các công việc đòi hỏi có sự hiểu biết sâu rộng hơn.</string>
		<key>detail</key>
		<string>Lịch kiểm tra:
8h30-18h30 tất cả các ngày từ thứ 2- Chủ Nhật 
CS1: số 6, ngõ 28, Nguyên Hồng, Đống Đa, Hà Nội- hotline: 042211 2691</string>
	</dict>
	<key>post2</key>
	<dict>
		<key>type</key>
		<string>Khóa học</string>
		<key>title</key>
		<string>KHOÁ HỌC CÁ NHÂN</string>
		<key>brief</key>
		<string>Bạn muốn tham gia vào lớp học một thầy - một trò với giáo viên bản ngữ giàu kinh nghiệm?... </string>
		<key>icon</key>
		<string>post2_icon.png</string>
		<key>image</key>
		<string>post2.png</string>
		<key>content</key>
		<string>Lớp học cá nhân - Thành công vượt trội là khóa học lý tưởng dành cho các nhà quản lý thiếu thời gian hay những ai muốn đầu tư học tiếng Anh cấp tốc. Cho dù bạn ở bất cứ trình độ nào, bạn cũng sẽ thấy hứng thú với những bài giảng lý thú và hiệu quả, phù hợp với mục đích học, trong khung giờ và địa điểm thuận lợi nhất với bạn.</string>
		<key>detail</key>
		<string>Mức học phí sẽ tùy thuộc vào từng khóa học và số lượng học viên.
Để tham khảo các khóa học và biết thêm thông tin chi tiết hãy liên hệ:
Bộ phận tư vấn
Địa chỉ: số 6, ngõ 28, Nguyên Hồng, Đống Đa, Hà Nội
Điện thoại: 04 2211 2691</string>
	</dict>
	<key>post3</key>
	<dict>
		<key>type</key>
		<string>Tiêu điểm</string>
		<key>title</key>
		<string>KHAI GIẢNG LỚP LUYỆN THI IELTS FOUNDATION</string>
		<key>brief</key>
		<string>Bạn đang bắt đầu lên kế hoạch học IELTS?...</string>
		<key>icon</key>
		<string>post3_icon.png</string>
		<key>image</key>
		<string>post3.png</string>
		<key>content</key>
		<string>Với khóa học Ielts Foundation, bạn sẽ được: 
- Học IELTS với các giáo viên đào tạo IELTS hàng đầu 
- Tư vấn và xây dựng lộ trình học PHÙ HỢP và HIỆU QUẢ đối với từng cá nhân. 
- TIẾT KIỆM thời gian và chi phí. 
- Rèn luyện kỹ năng dự đoán và nhận biết từ khóa. 
- Phát triển và trình bày luận điểm, tối ưu hóa điểm thi.</string>
		<key>detail</key>
		<string>- Lịch khai giảng: ngày 05/12/2016 
- Lịch học: Thứ 2-4, từ 6:00-8:30pm
Hotline: 04 2211 2691/ 04 6259 1475</string>
	</dict>
	<key>post4</key>
	<dict>
		<key>type</key>
		<string>Tiêu điểm</string>
		<key>title</key>
		<string>KHAI GIẢNG LỚP LUYỆN THI SAT</string>
		<key>brief</key>
		<string>Bạn có nguyện vọng đi du học?... </string>
		<key>icon</key>
		<string>post4_icon.png</string>
		<key>image</key>
		<string>post4.png</string>
		<key>content</key>
		<string>Khai giảng lớp luyện thi SAT trình độ B, dành cho các bạn có nguyện vọng đi du học và những bạn có điểm thi Toefl tổng quát ở mức 80 điểm.
Các bạn sẽ được bổ sung các kỹ năng sau: 
- Duy trì và phát triển từ vựng chuyên sâu 
- Nâng cao thủ thuật và kỹ năng làm Critical Reading và Writing 
- Viết bài luận sắc bén</string>
		<key>detail</key>
		<string>Lịch khai giảng: 06/12/2016 Lịch học: từ 6:00 – 8:00, thứ 3-5 hàng tuần
Nhanh tay gọi điện để được tư vấn đăng ký tham gia lớp học! 
Bộ phận tư vấn 
Hotline: 04 2211 2691/ 04 6259 1475</string>
	</dict>
	<key>post5</key>
	<dict>
		<key>type</key>
		<string>Góc tiếng anh</string>
		<key>title</key>
		<string>CÁCH DÙNG CÂU ĐẢO NGỮ (THE INVERSION)</string>
		<key>brief</key>
		<string>Tiếp tục với một số cách dùng câu đảo ngữ mà bạn hay gặp...</string>
		<key>icon</key>
		<string>post5_icon.png</string>
		<key>image</key>
		<string>post5.png</string>
		<key>content</key>
		<string>ĐẢO TOÀN BỘ 
1. Trong câu với “There be …….”, “be” có lúc có thể đổi thành “ live , lie, stand” với ý chỉ trạng thái . 
2. Dùng trong các câu mở đầu bằng các phó từ “here, there, now, then, in, out, down, up, back, over ,away, off”.Trường hợp này chủ ngữ là đại từ thì không đảo . 
3. Kết cấu giới từ chỉ nơi chốn đưa lên đầu câu để nhấn mạnh.
4. Dùng trong câu nhấn mạnh bổ ngữ. Bổ ngữ đưa lên trước không chỉ để nhấn mạnh mà còn làm cho cấu trúc câu cân đối hơn.
5. Dùng trong câu có dẫn lời nói trực tiếp. </string>
		<key>detail</key>
		<string>Để tham khảo các khóa học và biết thêm thông tin chi tiết hãy liên hệ với chúng tôi: Bộ phận tư vấn 
Địa chỉ: số 6, ngõ 28, Nguyên Hồng, Đống Đa, Hà Nội  
Điện thoại: 04 3856 3886</string>
	</dict>
	<key>post6</key>
	<dict>
		<key>type</key>
		<string>Góc tiếng anh</string>
		<key>title</key>
		<string>NHỮNG LỖI PHÁT ÂM THƯỜNG GẶP</string>
		<key>brief</key>
		<string>Bạn đã nói tiếng Anh chuẩn hay chưa?... </string>
		<key>icon</key>
		<string>post6_icon.png</string>
		<key>image</key>
		<string>post6.png</string>
		<key>content</key>
		<string>Khi phát âm tiếng Việt lưỡi và miệng của chúng ta rất là ngắn gọn. Vì thế, khi phát âm tiếng Anh người việt phát âm rất là cụt và thậm chí là còn nuốt âm. Chính vì thế gây ra khá nhiều lỗi phát âm tiếng Anh: 

1. Lỗi không phát âm âm đuôi ( ending sounds ) 
Lỗi của người Việt là không phát âm âm đuôi vì tiếng Việt của chúng ta đọc rất ngắn gọn không phát âm âm đuôi và các bạn áp dụng thói quen vào việc phát âm tiếng Anh, dễ gây những  hiểu nhầm cho người nghe và dẫn đến những tình huống nhầm lẫn do hai người không hiểu ý nhau. 

2. Lỗi Việt hóa khi phát âm tiếng anh

3. Lỗi không nhấn trọng âm (Stress)
Điều này xuất phát từ việc tiếng Việt đơn âm tiết và người Việt thường quen đọc từng âm tiết và không có trọng âm nên chúng ta đọc đều đều các từ mà không có trọng âm.

4. Lỗi phát âm âm /s/ không đúng chỗ hoặc bỏ qua không đọc âm /s/

5. Lỗi quên nối âm

6. Lỗi không có ngữ điệu</string>
		<key>detail</key>
		<string>Để khắc phục được những điều này, các bạn phải nắm vững các lý thuyết về phát âm và luyện tập thường xuyên. </string>
	</dict>
	<key>post7</key>
	<dict>
		<key>type</key>
		<string>Tiêu điểm</string>
		<key>title</key>
		<string>KHAI GIẢNG LỚP LUYỆN THI SAT</string>
		<key>brief</key>
		<string>Bạn có nguyện vọng đi du học?... </string>
		<key>icon</key>
		<string>post4_icon.png</string>
		<key>image</key>
		<string>post4.png</string>
		<key>content</key>
		<string>Khai giảng lớp luyện thi SAT trình độ B, dành cho các bạn có nguyện vọng đi du học và những bạn có điểm thi Toefl tổng quát ở mức 80 điểm.
Các bạn sẽ được bổ sung các kỹ năng sau: 
- Duy trì và phát triển từ vựng chuyên sâu 
- Nâng cao thủ thuật và kỹ năng làm Critical Reading và Writing 
- Viết bài luận sắc bén</string>
		<key>detail</key>
		<string>Lịch khai giảng: 06/12/2016 Lịch học: từ 6:00 – 8:00, thứ 3-5 hàng tuần
Nhanh tay gọi điện để được tư vấn đăng ký tham gia lớp học! 
Bộ phận tư vấn 
Hotline: 04 2211 2691/ 04 6259 1475</string>
	</dict>
</dict>
</plist>
