<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EngVocabulary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84E69D3E1DE7075400C754A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E69D521DE7075500C754A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E69D5D1DE7075500C754A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
